{% extends 'core/base.html' %} {% load static %} {% block title %}Inicio{% endblock %} {% block content %}
{% block footer_color %}purple lighten-1{% endblock %}
  <div class="container" style="padding-top: 5%; padding-bottom: 5%">
      <div class="section">
        <div class="row">
            <div class="col s4 center-align"><div class="animation_a_app_icons"><i class="medium material-icons">settings</i><span style="display:block">Configuracion</span></div></div>
            <div class="col s4 center-align"><div class="animation_a_app_icons"><i class="medium material-icons ">face</i><span style="display:block">Recursos Humanos</span></div></div>
            <div class="col s4 center-align"><div class="animation_a_app_icons"><i class="medium material-icons ">account_balance</i><span style="display:block">Compania</span></div></div>
          </div>
      </div>
      <div class="row">
            <div class="col s4 center-align"><div class="animation_a_app_icons"><i class="medium material-icons">business</i><span style="display:block">Produccion</span></div></div>
            <div class="col s4 center-align"><div class="animation_a_app_icons"><i class="medium material-icons ">show_chart</i><span style="display:block">Finanzas</span></div></div>
            <div class="col s4 center-align"><div class="animation_a_app_icons"><i class="medium material-icons ">group</i><span style="display:block">CRM</span></div></div>
      </div>
      <div class="row">
            <div class="col s4 center-align"><div class="animation_a_app_icons"><i class="medium material-icons">language</i><span style="display:block">Websites</span></div></div>
            <div class="col s4 center-align"><div class="animation_a_app_icons"><i class="medium material-icons ">landscape</i><span style="display:block">Proyectos</span></div></div>
            <div class="col s4 center-align"><div class="animation_a_app_icons"><i class="medium material-icons ">attach_money</i><span style="display:block">Ventas</span></div></div>
      </div>
  </div>
{% endblock %}