{% extends 'core/base.html' %}{% block footer_color %}teal lighten-2{% endblock %}{% load static %} {% block title %}Inicio{% endblock %} {% block content %}
{% block auxiliar_css %}<link rel="stylesheet" href="{% static 'core/css/clients.css' %}" />{% endblock %}
<nav>
    <div class="nav-wrapper teal lighten-2">
      <div class="container">
        <b href="#" class="brand-logo">Clientes</b>
      </div>
    </div>
 </nav>
 <div id="wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                <li class="tab col s3"><a class="active" href="#test1">Test 1</a></li>
                <li class="tab col s3"><a>Test 2</a></li>
                <li class="tab col s3 disabled"><a href="#test3">Disabled Tab</a></li>
                <li class="tab col s3"><a href="#test4">Test 4</a></li>
                </ul>
            </div>
            <div id="test1" class="col s12">
                <form action="" method="post">{% csrf_token %}
                    <div class="card">
                        <div class="card-content">
                            <div class="row">
                                <div class="col s12 m6">
                                    <div class="switch">
                                        <label>
                                            Consulta
                                            <input type="checkbox">
                                            <span class="lever"></span>
                                            Edición
                                        </label>
                                    </div>
                                </div>
                                <div class="col s12 m6 right-align">
                                    <button class="btn waves-effect waves-light" type="submit" name="action">Guardar</button>
                                </div>
                            </div>
                            {% if 'ok' in request.GET %}
                            <div class="row">
                                <div class="input-field col s12 m12">
                                    <div class="card-panel green lighten-2">
                                        <p style="color:white;">Cliente editado correctamente</p>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% if form.errors %}
                            <div class="row">
                                <div class="input-field col s12 m12">
                                    <div class="card-panel red lighten-2">
                                        <p style="color:white">{{form.errors}}</p>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            <div class="row">
                                <div class="input-field col s12 m6">
                                    {{ form.name }}
                                    <label for="{{form.name.name}}">{{form.name.label}}</label>
                                </div>
                                <div class="col s12 m6 center">
                                    <img src="https://pbs.twimg.com/profile_images/992911914496876545/jSrHpqDO_400x400.jpg" alt="" class="responsive-img circle" style="width: 40px;margin-left:10px;">
                                    <p>Posted By Alexei Horta</p>
                                    <p>On Jan, 12, 2018</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col m6">
                                    <span>{{ form.address.value }}</span>
                                    <div class="input-field">
                                        {{ form.address }}
                                        <label for="{{form.address.name}}">{{form.address.label}}</label>
                                    </div>
                                </div>
                                <div class="input-field col m6">
                                    {{ form.second_adress }}
                                    <label for="{{ form.second_adress.name }}">{{form.second_adress.label}}</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col m3">
                                    {{ form.city }}
                                    <label for="{{ form.city.name }}">{{form.city.label}}</label>
                                </div>
                                <div class="input-field col m3">
                                    {{ form.rfc }}
                                    <label for="{{ form.rfc.name }}">{{form.rfc.label}}</label>
                                </div>
                                <div class="input-field col m3">
                                    {{ form.mobile }}
                                    <label for="{{ form.mobile.name }}">{{form.mobile.label}}</label>
                                </div>
                                <div class="input-field col m3">
                                    {{ form.phone }}
                                    <label for="{{ form.phone.name }}">{{form.phone.label}}</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col m6">
                                    {{ form.website }}
                                    <label for="{{ form.website.name }}">{{form.website.label}}</label>
                                </div>
                                <div class="input-field col m6">
                                    {{ form.email }}
                                    <label for="{{ form.email.name }}">{{form.email.label}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}